<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">

    <title>Document</title>
</head>

<body>
    <p><a href="/new_search">New Search</a></p>
    <h4>
        <%= savedBooksArr.length %> Saved Books</h4>
    <main>
        <% savedBooksArr.forEach(showBook => { %>
            <% showBook = {
                id: showBook.id,
                title: showBook.title,
                author: showBook.author,
                image_url: showBook.image_url
            } %>
            <%- include('../layout/book.ejs', {showBook}) %>
            <% }) %>
    </main>
</body>

</html>